$backgroundColor: #d9e8fc;
$bodyColor: #000000;
$bodyFont: 'sans-serif';
$goldColor: #bba327;
$blueColor: #063c58;
// $holidayBackColor:  #9fc9ff;
$holidayBackColor:  #90b5e6;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $backgroundColor;
  background-image: url("/assets/images/mannequin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  font-family: $bodyFont;
}
@media (min-width: 601px) {
  body {
    background-size: contain;
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

header {
  margin-bottom: 3rem;
}
@media (min-width: 601px) {
  header {
    margin-bottom: 6rem;
  }
}

header h1 {
  font-family: 'Great Vibes';
  font-size: 3.4rem;
  color: $goldColor;
  margin-bottom: 0.5rem;
  text-align: center;
}
@media (min-width: 601px) {
  header h1 {
    font-size: 6rem;
  }
}

header p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  text-align: center;
  color: $blueColor;
}
@media (min-width: 601px) {
  header p {
    font-size: 1.8rem;
  }
}

section {
  box-sizing: border-box;
  background-color: rgb(198, 220, 250);
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border-top: 1px solid $blueColor;
  border-bottom: 1px solid $blueColor;
}
@media (min-width: 601px) {
  section {
    border: 1px solid $blueColor;
  }
}

section p, ul {
  text-align: center;
  color: $blueColor;
  font-size: 1rem;
  // margin-bottom: 1rem;
}
@media (min-width: 601px) {
  section p {
    font-size: 1.1rem;
  }
}

section p.holiday {
  background-color: $holidayBackColor;
  color: $blueColor;
  border-radius: 10px;
  padding: 1rem;
  font-weight: bold;
  box-shadow: 1px 1px 5px $blueColor;
}

section ul {
  list-style-type: none;
}
.address {
  display: block;
  margin-top: 0.5em;
}

#bottom {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  height: 50px;
}

#bottom p {
  text-align: center;
  color: $blueColor;
}